<h1 class="habit-title"><%= @habit.name %></h1>

<script src="/js/pie-chart.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#demo-pie-1').pieChart({
            barColor: '#3bb2d0',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-2').pieChart({
            barColor: '#fbb03b',
            trackColor: '#eee',
            lineCap: 'butt',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-3').pieChart({
            barColor: '#ed6498',
            trackColor: '#eee',
            lineCap: 'square',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });
 
    });

</script>

<div class="habit-title">
  <div class="habit-week-pie">
  <div>
    <h5>Week 1</h5>
    <label>Success Rate</label>
  </div>
  <div>    
    <div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
  </div>
  </div>
  <div class="habit-week-pie2">
  <div>
    <h5>Week 2</h5>
    <label>Success Rate</label>
  </div>
  <div>    
    <div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value"></span> </div>
  </div>
  </div>
  <div class="habit-week-pie">
  <div>
    <h5>Week 3</h5>
    <label>Success Rate</label>
  </div>
  <div>    
    <div id="demo-pie-3" class="pie-title-center" data-percent="20"> <span class="pie-value"></span> </div>
  </div>
  </div>
</div>


<form action="/habits/<%= @habit.id %>" method="POST">
  <strong><p>WEEK 1</p></strong>
  <input type="submit" value="Save">
  <div>
    <% @week1.each do |day| %>
      <% if day.result == "T" %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T" checked>
      <% else %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T">
      <% end %>
    <% end %>
    <p>Success Rate: <%= week1_success_rate(@habit.id) %>%<p>
  </div>
  <br>
  <br>
  <strong><p>Week 2</p></strong>
  <div>
    <% @week2.each do |day| %>
      <% if day.result == "T" %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T" checked>
      <% else %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T">
      <% end %>
    <% end %>
    <p>Success Rate: <%= week2_success_rate(@habit.id) %>%<p>
  </div>
  <br>
  <br>
  <strong><p>Week 3</p></strong>
  <div>
    <% @week3.each do |day| %>
      <% if day.result == "T" %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T" checked>
      <% else %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T">
      <% end %>
    <% end %>
    <p>Success Rate: <%= week3_success_rate(@habit.id) %>%<p> 
  </div>
</form>
<br>
<br>

<% date_diff = (Date.today - @habit.start_date).to_i
  if date_diff >= 21
    delete_submit_value = "Delete from record"
  elsif date_diff >= 0
    delete_submit_value = "I give up"
  else
    delete_submit_value = "Forget it"
  end
%>
<form method = "POST" action="/profile/delete">
  <input type="hidden" name="habit_id" value="<%= @habit.id %>">
  <input type="submit" value="<%= delete_submit_value %>">
</form>
<br>
<a href="/profile">Back to profile page</a>