<link rel="stylesheet" href="/stylesheets/habits_page.css">

<div class="profile_nav">
  <h1 class="profile_title"><strong>HABIT</strong></h1> <h1 class="profile_title_light">TRACKER
  </h1>
  <p class="profile_welcome">Welcome</p> 
  <p class="profile_name"><%= session[:first_name] %> <%= session[:last_name] %></p>
  <%= erb :nav_habits %>
</div>

<div class="side_pic">
</div>

<div class="profile_div">
  <img id="habit_image"src="/images/53H.jpg">
</div>

<script src="/javascript/pie-chart.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
      //draws circle and %
        $('#demo-pie-1').pieChart({ //draws circle even with empty function
            barColor: '#3bb2d0',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            onStep: function (from, to, percent) {    //draws %
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-2').pieChart({
            barColor: '#fbb03b',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-3').pieChart({
            barColor: '#ed6498',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });
 
    });

    function updateSuccessRate(day_id, val) {

      if(day_id <= 7) {
        $id = $("#week1_success_rate");
        $pie_id = $("#demo-pie-1");
      }
      else if(day_id <= 14) {
        $id = $("#week2_success_rate");
        $pie_id = $("#demo-pie-2");
      }
      else if(day_id <= 21) {
        $id = $("#week2_success_rate");
        $pie_id = $("#demo-pie-3");
      }

      if(val == "T") {
        success_rate = (parseFloat($id.html()) + 14.3).toFixed(1);
      }
      else {
        success_rate = (parseFloat($id.html()) - 14.3).toFixed(1);
      }

      if(success_rate < 0) success_rate = 0;
      if(success_rate > 100) success_rate = 100;

      $id.html(success_rate); //works
      //$pie_id.data-percent = success_rate;
      //$pie_id.attr("pie-value",50);

      $('#demo-pie-1').pieChart({ //draws circle even with empty function
          barColor: '#3bb2d0',
          trackColor: '#eee',
          lineCap: 'round',
          lineWidth: 8,
          onStep: function (from, to, percent) {    //draws %
              $(this.element).find('.pie-value').text(Math.round(percent) + '%');
          }
      });

    }

    function updateDay(day_id, val) {
      //str = "/echo/js/?js=<h2>" + val + "</h2>";
      str = "/update_day";
      $.ajax({
        url: str,
        data: {
          habit: <%= @habit.id %>,
          day: day_id,
          result: val
        },
        complete: function(response) {
          //$('#output' + day_id).html(day_id+val);
          updateSuccessRate(day_id, val);
        }
      });
      return false;
    }

    $(document).ready(function(){
      $(".toggle-day-red").on('click', function() {
        id = $(this).attr('id');
        if ($(this).hasClass('green')) {
            $(this).removeClass('green').addClass('red');
            updateDay(id, "F");
        }
        else {
            $(this).removeClass('red').addClass('green');
            updateDay(id, "T");
        }
      });
    });

    $(document).ready(function(){
      $(".toggle-day-green").on('click', function() {
        id = $(this).attr('id');
        if ($(this).hasClass('red')) {
            $(this).removeClass('red').addClass('green');
            updateDay(id, "T");
        }
        else {
            $(this).removeClass('green').addClass('red');
            updateDay(id, "F");
        }
      });
    });

</script>

<div class="main_div_habit">
  <h1 class="habit_page_title"><%= @habit.name %></h1>
  <div class="margin_top_first_head profile_font">
    <div class="week">
      <strong><p class="week_subhead">Week 1</p></strong>
      <% calendar_today = (Date.today - @habit.start_date + 1).to_i
        output = ""
        @week1.each do |day|
          if day.position == calendar_today
            span_class = "toggle-today"
            if day.result == "T"
              span_class += " toggle-day-green"
            else
              span_class += " toggle-day-green"
            end
          elsif day.position > calendar_today
            span_class = "toggle-day-gray"
          elsif day.result == "T"
            span_class = "toggle-day-green"
          else  # assume day.result is not checked
            span_class = "toggle-day-red"
          end
          output += "<span name=\"#{day.position}\" id=\"#{day.position}\" value=\"#{day.result}\" class=\"#{span_class}\">Day #{day.position}</span>\n"
        end %>
      <%= output %>
    </div>
    <div class="habit-week-pie">
      <div id="demo-pie-1" class="pie-title-center" data-percent="<%= week1_success_rate(@habit.id)%>">
        <span class="pie-value"></span>
        <p>Success Rate</p>
      </div>
    </div>
  </div>
  <br>

  <div class="profile_font middle_topic_margin">
    <div class="week">
      <strong><p class="week_subhead">Week 2</p></strong>
      <% calendar_today = (Date.today - @habit.start_date + 1).to_i
        output = ""
        @week2.each do |day|
          if day.position == calendar_today
            span_class = "toggle-today"
          elsif day.position > calendar_today
            span_class = "toggle-day-gray"
          elsif day.result == "T"
            span_class = "toggle-day-green"
          else  # assume day.result is not checked
            span_class = "toggle-day-red"
          end
          output += "<span name=\"#{day.position}\" id=\"#{day.position}\" value=\"#{day.result}\" class=\"#{span_class}\">Day #{day.position}</span>\n"
        end %>
      <%= output %>
    </div>
    <div class="habit-week-pie">
      <div id="demo-pie-2" class="pie-title-center" data-percent="<%= week2_success_rate(@habit.id)%>">
        <span class="pie-value"></span>
        <p>Success Rate</p>
      </div>
    </div>
  </div>
  <br>

  <div class="profile_font">
    <div class="week">
      <strong><p class="week_subhead">Week 3</p></strong>
      <% calendar_today = (Date.today - @habit.start_date + 1).to_i
        output = ""
        @week3.each do |day|
          if day.position == calendar_today
            span_class = "toggle-today"
          elsif day.position > calendar_today
            span_class = "toggle-day-gray"
          elsif day.result == "T"
            span_class = "toggle-day-green"
          else  # assume day.result is not checked
            span_class = "toggle-day-red"
          end
          output += "<span name=\"#{day.position}\" id=\"#{day.position}\" value=\"#{day.result}\" class=\"#{span_class}\">Day #{day.position}</span>\n"
        end %>
      <%= output %>
    </div>
    <div class="habit-week-pie">
      <div id="demo-pie-3" class="pie-title-center" data-percent="<%= week3_success_rate(@habit.id)%>">
        <span class="pie-value"></span>
        <p>Success Rate</p>
      </div>
    </div>
  </div>
  
</div>