
<style>
  .week span {
    display: inline-block;
    width: 70px;

    /* NoSelect */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
  }
  .clickable-day {
    /*background-color:yellow;*/
  }
  .clickable-day.red {
    background-color:red;
  }
  .clickable-day.green {
    background-color:green;
  }

  .clickable-today {
    background-color:yellow;
  }
  .clickable-today.red {
    background-color:red;
  }
  .clickable-today.green {
    background-color:green;
  }
</style>
<script src="/js/pie-chart.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#demo-pie-1').pieChart({
            barColor: '#3bb2d0',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-2').pieChart({
            barColor: '#fbb03b',
            trackColor: '#eee',
            lineCap: 'butt',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-3').pieChart({
            barColor: '#ed6498',
            trackColor: '#eee',
            lineCap: 'square',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });
 
    });

    $(document).ready(function(){
      $(".clickable-day").on('click', function() {
        if ($(this).hasClass('red')) {
            $(this).removeClass('red').addClass('green');
        }
        else {
            $(this).removeClass('green').addClass('red');
        }
      });
    });
    $(document).ready(function(){
      $(".clickable-today").on('click', function() {
        if ($(this).hasClass('red')) {
            $(this).removeClass('red').addClass('green');
        }
        else {
            $(this).removeClass('green').addClass('red');
        }
      });
    });


    // inside clickable-day \ if \ ..
    //        $.ajax({
    //          url: 'user/23/update-day',
    //          method: 'post',
    //          data: {variable: "string value", integer_var: 6, clicked_day: 23}
    //          success: function () {
                // do stuff once request is answered.
    //          }
    //        });
</script>

<h1 class="habit-title"><%= @habit.name %></h1>
<div class="habit-title">
  <div class="habit-week-pie">
  <div>
    <h5>Week 1</h5>
    <label>Success Rate</label>
  </div>
  <div>    
    <div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
  </div>
  </div>
  <div class="habit-week-pie2">
  <div>
    <h5>Week 2</h5>
    <label>Success Rate</label>
  </div>
  <div>    
    <div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value"></span> </div>
  </div>
  </div>
  <div class="habit-week-pie">
  <div>
    <h5>Week 3</h5>
    <label>Success Rate</label>
  </div>
  <div>    
    <div id="demo-pie-3" class="pie-title-center" data-percent="20"> <span class="pie-value"></span> </div>
  </div>
  </div>
</div>


<form action="/habits/<%= @habit.id %>" method="POST">
  <strong><p>Week 1</p></strong>
  <input type="submit" value="Save">
  <div class="week">

      <% calendar_today = (Date.today - @habit.start_date).to_i %>
      <% @week1.each do |day| %>
        <% if day.result == "T" %>
          <span name="<%= day.position %>" id="<%= day.position %>" value="T" class="<%= day.position == calendar_today ? "clickable-today" : "clickable-day" %>">
        <% else %>
          <span name="<%= day.position %>" id="<%= day.position %>" value="F" class="<%= day.position == calendar_today ? "clickable-today" : "clickable-day" %>">
        <% end %>
      Day <%= day.position %></span>
    <% end %>
    <p>Success Rate: <%= week1_success_rate(@habit.id) %>%<p>
  </div>
  <br>
  <br>
  <strong><p>Week 2</p></strong>
  <div>
    <% @week2.each do |day| %>
      <% if day.result == "T" %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T" checked>
      <% else %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T">
      <% end %>
    <% end %>
    <p>Success Rate: <%= week2_success_rate(@habit.id) %>%<p>
  </div>
  <br>
  <br>
  <strong><p>Week 3</p></strong>
  <div>
    <% @week3.each do |day| %>
      <% if day.result == "T" %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T" checked>
      <% else %>
        Day <%= day.position %><input type="checkbox" name="<%= day.position %>" value="T">
      <% end %>
    <% end %>
    <p>Success Rate: <%= week3_success_rate(@habit.id) %>%<p> 
  </div>
</form>
<br>
<br>

<% date_diff = (Date.today - @habit.start_date).to_i
  if date_diff >= 21
    delete_submit_value = "Delete from record"
  elsif date_diff >= 0
    delete_submit_value = "I give up"
  else
    delete_submit_value = "Forget it"
  end
%>
<form method = "POST" action="/profile/delete">
  <input type="hidden" name="habit_id" value="<%= @habit.id %>">
  <input type="submit" value="<%= delete_submit_value %>">
</form>
<br>
<a href="/profile">Back to profile page</a>