<div class="profile_nav">
  <h1 class="profile_title"><strong>HABIT</strong></h1> <h1 class="profile_title_light">TRACKER
  </h1>
  <p class="profile_welcome">Welcome</p> 
  <p class="profile_name"><%= session[:first_name] %> <%= session[:last_name] %></p>
  <%= erb :calendar %>
</div>

<div class="profile_div">
  <img id="profile_image"src="/images/tumblr_ngfwlvHb1i1qfirfao1_1280.jpg">
</div>


<div class="ongoing_div">
  <h2 class="habit_title">Ongoing Habits</h2>
    <% if @habits %>
      <% @habits.each do |habit| %>
        <div>
            <% date_diff = (Date.today - habit.start_date).to_i %>
            <% if date_diff >= 0 && date_diff < 21 %>
              <% delete_submit_value = "I give up" %>
              <div class="card" style="
    border-radius: 15px;">
                <div class="pics_card" style="background-image: url(images/pic1.png);">
                  <div class="txt_title_card">
                    <%= habit.name %>
                  </div>
                </div>
                <div class="txt_desciption_card">
                  <ul class="form_ul">
                    <li><%= habit.start_date.strftime("%b %-d") + " - " + (habit.start_date + 20).strftime("%b %-d") %></li>
                    <li><%= "Day " + (date_diff + 1).to_s + " of 21" %></li>
                  </ul>
                </div>
                <div class="tool_link_back">
                  <a href="/habits/<%= habit.id %>"><div class="tool_link" style="color:#ff8f00">Detail</div></a>
                  <div class="tool_link" style="color:red;">Delete</div>
                </div>
              </div>
            <% end %>
        </div>
      <% end %>
    <% end %>
</div>


<div class="future_div">
  <h2 class="habit_title">Future Habits</h2>
    <% if @habits %>
      <% @habits.each do |habit| %>
        <div>
          <% date_diff = (Date.today - habit.start_date).to_i %>
          <% if date_diff < 0 %>
            <% delete_submit_value = "Forget it" %>
            <div class="card" style="
    border-radius: 15px;">
              <div class="pics_card" style="background-image: url(images/pic2.png);">
                <div class="txt_title_card">
                  <%= habit.name %>
                </div>
              </div>
              <div class="txt_desciption_card">
                <ul class="form_ul">
                  <li><%= habit.start_date.strftime("%b %-d") + " - " + (habit.start_date + 20).strftime("%b %-d") %></li>
                  <li><%= "Starting in " + (-date_diff).to_s + ((-date_diff == 1)? " day" : " days") %></li>
                </ul>
              </div>
              <div class="tool_link_back">
                <a href="/habits/<%= habit.id %>"><div class="tool_link" style="color:#ff8f00">Detail</div></a>
                <div class="tool_link" style="color:red;">Delete</div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>

<div class="past_div">
  <h2 class="habit_title">Past Habits</h2>
    <% if @habits %>
      <% @habits.each do |habit| %>
        <div>
          <% date_diff = (Date.today - habit.start_date).to_i %>
          <% if date_diff >= 21 %>
            <% delete_submit_value = "Delete from record" %>
            <div class="card" style="
    border-radius: 15px;">
              <div class="pics_card" style="background-image: url(images/pic3.png);">
                <div class="txt_title_card">
                  <%= habit.name %>
                </div>
              </div>
              <div class="txt_desciption_card">
                <ul class="form_ul">
                  <li>Finished (CZ todo 0-100%)</li>
                </ul>
              </div>
              <div class="tool_link_back">
                <a href="/habits/<%= habit.id %>"><div class="tool_link" style="color:#ff8f00">Detail</div></a>
                <div class="tool_link" style="color:red;">Delete</div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
</div>

  <% else %>
    <br>
    <br>
    <p>You are not tracking any habits</p>
  <% end %>
  <br>
</div>
