<div class="row center"><h3>Welcome <%= session[:first_name] %></h3></div>
<p>Today: <%= Date.today.strftime("%b %-d, %Y") %></p>
<br>
<form method="GET" action="/profile/signout">
  <input type="submit" value="signout">
</form>

<% if @habits %>
  <% @habits.each do |habit| %>
    <div>
      <p><a href="<%= "/habits/#{habit.id}" %>"><%= habit.name %></a></p>
      <p>
        <ul>
          <li><%= habit.start_date.strftime("%b %-d") + " - " + (habit.start_date + 20).strftime("%b %-d") %></li>
          <%= date_diff = (Date.today - habit.start_date).to_i
            if date_diff >= 21
              delete_submit_value = "Delete from record"
              "<li style=\"color:black; font-style:italic;\">Finished - (CZ todo 0-100%)</li>"
            elsif date_diff >= 0
              delete_submit_value = "I give up"
              "<li style=\"color:black; font-weight:bold;\">Day " + (date_diff + 1).to_s + " of 21" + "</li>"
            else
              delete_submit_value = "Forget it"
              "<li style=\"color:red;\">Starting in " + (-date_diff).to_s + ((-date_diff == 1)? " day" : " days") + "</li>"
            end
          %>
        </ul>
      </p>
      <form method = "POST" action="/profile/delete">
        <input type="hidden" name="habit_id" value="<%= habit.id %>">
        <input type="submit" value="<%= delete_submit_value %>">
      </form>
    </div>
  <% end %>
<% else %>
<br>
<br>
  <p>You are not tracking any habits</p>
<% end %>
<br>

<div class="row center">
  <a href="/form"><p>Create a New Habit</p></a>
</div>