<style> body {background-color: #ddff99;} </style>
<div id="welcome" class="titlehide"><h3>Welcome <%= session[:first_name] %></h3></div>
<p>Today: <%= Date.today.strftime("%b %-d, %Y") %></p>
<br>
<form method="GET" action="/profile/signout">
  <button><input type="submit" value="signout"></button>
</form>

<% if @habits %>
  <% @habits.each do |habit| %>
    <div>
      <p><a href="<%="/habits/#{habit.id}"%>"><%= habit.name %></a></p>
      <p>
        <ul>
          <li><%= habit.start_date.strftime("%b %-d") + " - " + (habit.start_date + 20).strftime("%b %-d") %></li>
          <li><%= (Date.today >= habit.start_date) ? ("Day " + (Date.today - habit.start_date).to_i.to_s + " of 21") : "not started" %></li>
        </ul>
      </p>
    </div>
  <% end %>
<% else %>
<br>
<br>
  <p>You are not tracking any habits</p>
<% end %>
<br>

<div class="row center">
  <a href="/form"><p>Create</p></a>
</div>