<h1>Welcome <%= session[:first_name] %></h1>

<p>Today: <%= Date.today.strftime("%b %-d, %Y") %></p>
<form method="GET" action="/profile/signout">
  <input type="submit" value="signout">
</form>

<% if @habits %>
  <% @habits.each do |habit| %>
    <div>
      <p><a href="<%="/habits/#{habit.id}"%>"><%= habit.name %></a></p>
      <p>
        <ul>
          <li><%= habit.start_date.strftime("%b %-d") + " - " + (habit.start_date + 20).strftime("%b %-d") %></li>
          <li><%= (Date.today >= habit.start_date) ? ("Day " + (Date.today - habit.start_date).to_i.to_s + " of 21") : "not started" %></li>
        </ul>
      </p>
    </div>
  <% end %>
<% else %>
  <p>You don't have any habits</p>
<% end %>

<div>
  <a href="/form"><p>Add New Habit</p></a>
</div>